$circle-color: #848b91;
$line-color: #b5bec6;
$bg: #eff1f5;
$title: #364652;
$desc: #071108;

.timeline {
  background: #eff1f5;
  padding: 100px 50px 15px 50px;
  overflow-y: scroll;
  height: 87%;

  .timelineBlock {
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }

  section {
    min-height: 50px;
  }

  .info {
    background-clip: padding-box;
    border-top: 2px solid $line-color;
    padding-right: 1em;
    margin-bottom: 1em;

    h2 {
      color: $title;
      font-size: 1.5rem;
      margin-bottom: 1px;
      opacity: 0.7;
    }

    span {
      color: $desc;
    }
  }

  .info:nth-of-type(2n) {
    text-align: right;

    span {
      max-width: 50%;
      display: inline-block;
      animation: slideInRight 1.5s forwards 0s ease-in-out;
    }
  }

  .info:nth-of-type(2n + 1) {
    text-align: left;

    span {
      max-width: 50%;
      display: inline-block;
      animation: slideInLeft 1.5s forwards 0s ease-in-out;
    }
  }

  .circle-container.right {
    .tl {
      grid-area: tl;
      border-top: 2px solid $line-color;
      border-right: 2px solid $line-color;
      border-top-right-radius: 20px;
      margin-bottom: -2px;
    }

    .bl {
      grid-area: bl;
      border-bottom: 2px solid $line-color;
      border-right: 2px solid $line-color;
      border-bottom-right-radius: 20px;
      margin-bottom: -2px;
    }
  }

  .circle-container.left {
    .tr {
      grid-area: tr;
      border-top: 2px solid $line-color;
      border-left: 2px solid $line-color;
      border-top-left-radius: 20px;
      margin-bottom: -2px;
    }

    .br {
      grid-area: br;
      border-bottom: 2px solid $line-color;
      border-left: 2px solid $line-color;
      border-bottom-left-radius: 20px;
      margin-bottom: -2px;
    }
  }
}

.circle-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 2.5em 2.5em auto;
  grid-template-areas: 'tl tl tr tr' 'cr cr cr cr' 'cr cr cr cr' 'bl bl br br';

  div {
    grid-area: cr;
  }

  // section {
  //   grid-area: tl;
  //   border-top: 2px solid red;
  //   border-right: 2px solid red;
  // }
}

.circle {
  width: 5em;
  height: 5em;
  background: $circle-color;
  border-radius: 50%;
  margin-left: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1em;
}

.no-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 0px !important;
  border-right: 0px !important;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-50%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(50%);
    opacity: 0.1;
  }
  100% {
    transform: rotate(xx) translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .info span {
    padding-bottom: 1em;
  }
}
